edge-tts
flask
jieba
keyboard
librosa
ollama
openai
opencv-python
pillow
pyautogui
pyaudio
pygame
pyttsx3
funasr_onnx==0.4.1
numpy==1.26.4

#下述两个库需分别执行命令安装(命令行执行时去掉#号)
#pip install flet==0.13.0
#pip install letta==0.6.7